body{
    background: #eee;
}

header{
    height: 234px;
    background: grey;
    text-align: center;
    padding: 20px;
}

#section1{
    background: #999;
    height: 2000px;
}

#section2{
    background: red;
    height: 1200px;
}

#section3{
    background: green;
    height: 3000px;
}

#section4{
    background: yellow;
    height: 200px;
}

#section5{
    background: blue;
    height: 1500px;
}\

footer{
    height: 400px;
    background: grey;
    padding: 20px;
    text-align: center;
}